*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    background-color: lightblue;
}
.heading {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: cornflowerblue;
    z-index: 1;
    padding-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form {
    position: relative;
    padding-top: 60px;
}
.image {
    display: block;
    height: 200px;
    width: 200px;
}
.textbox {
    background-color: rgb(253, 237, 251);
    font-size: 17px;
    height: 400px;
    width: 100%;
}