{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document</title>
</head>
<body class = "h-screen bg-gradient-to-r from-fuchsia-600 to-pink-600">
    <!-- bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 -->
    <!-- navbar -->
    <nav class="relative container mx-auto p-6">
        <!-- flex container -->
        <div class = "flex items-center justify-between">
            <p class="text-black" style="font-family: 'Courier New', Courier, monospace;">Image Tampering Detection</p>
            <!-- flex container 2 -->
            <div class = "flex items-center justify-between space-x-6">
                <form action="home"><button type="submit" class="text-white hover:bg-violet-500 rounded-lg p-3">Home</button></form>
                <form action="removal"><button type="submit" class="text-white hover:bg-violet-500 rounded-lg p-3">Removal</button></form>
                <form action="splicing"><button type="submit" class="text-white hover:bg-violet-500 rounded-lg p-3">Splicing</button></form>
                <form action="copymove"><button type="submit" class="text-white hover:bg-violet-500 rounded-lg p-3">Copy-Move</button></form>
                <form action="quiz"><button type="submit" class="text-white hover:bg-violet-500 rounded-lg p-3">Quiz</button></form>
                <!-- <a href="index.html" class="text-white hover:bg-violet-500 rounded-lg p-3">Home</a>
                <a href="object_removal_page.html" class="text-white hover:bg-violet-500 rounded-lg p-3">Removal</a>
                <a href="splicing_page.html" class="text-white hover:bg-violet-500 rounded-lg p-3">Splicing</a>
                <a href="copy-move_page.html" class="text-white hover:bg-violet-500 rounded-lg p-3">Copy-move</a>
                <a href="quiz_page.html" class="text-white hover:bg-violet-500 rounded-lg p-3">Quiz</a> -->
            </div>
        </div>
    </nav>
    <div>
        <header>
            <center>
                <p class="text-slate-300" style="font-size: 80px;">Image Splicing</p>
            </center>
        </header>
    </div> 
    <div class="mt-10">
        <center>
            <img class="image" src="{% static 'splice.png' %}"/>
        </center>
    </div>
    <div class="p-6">
        <center>
            <p class = "text-violet-300 italic" style="font-size: 20px;">
                Image splicing, also known as image manipulation or image forgery, refers to the process of altering or combining elements from multiple images to create a deceptive or misleading image. It is a form of digital image manipulation where parts of one or more images are extracted and combined to create a new composite image.
                            the intention is to deceive viewers by presenting a modified image as an authentic, unaltered photograph. Spliced images can be used to hide or add objects, change the context, or manipulate the visual information within the image.
            </p>
        </center>
    </div>

    
</body>
</html>